.carousel-item img {
    margin: auto;
}
.card-avisos {
    max-height: 96%;
    cursor: pointer;
}

.comentarios {
    padding: 5px;
    border-radius: 5px;
    transition: all .3s;
}
.comentarios:hover {
    background: #0000000f;
}
.efeito_responder {
    box-shadow: 1px 2px 9px 1px #404040;
    padding: 8px;
    font-weight: 600;
}
#btn-postar-resposta {
    background-color: white;
    color: #666;
    border-color: #666;
}

#btn-postar-resposta:hover {
    background-color: #666;
    color: white;
}

.repondendo_pergunta input{
    color: #666;
    padding: 4px;
    border-radius: 5px;
    border: none;
    border: 1px solid #ddd;
    outline-color: #666;
}

.resposta {
    margin-left: 2%;
    padding: 7px;
    border-radius: 6px;
}
.btn-responder {
    padding: 5px;
    background: transparent;
    color: #c3ffff;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    font-weight: 500;
    display: inline-block;
    transition: all .3s;
    margin-right: 15px;
}

.btn-responder:hover {
    padding: 5px;
    background: transparent;
    color: #c3ffff;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    font-weight: 500;
    display: inline-block;
    box-shadow: 0px 0px 3px 1px #c3ffff;
}

.bold {
    font-weight: 600;
    color: #00dcff;
}

.card-header {
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    background-color: rgba(0, 0, 0, 0.83);
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    color: white;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #080808;
    background-clip: border-box;
    border-radius: 0.25rem;
    color: white;
}

.none {
    display: none;
}
#nova_resposta {
    display: block;
    width: 100%;
    padding: 5px;
    color: white;
    outline: none;
    background: #4a4949;
    font-weight: 600;
    border: none;
    text-transform: capitalize;
}

#box-nova-mensagem {
    background: #010101;
    padding: 5px;
    border-radius: 2px;
    cursor: pointer;
}

.btn-nova-mensagem button {
    border: none;
    margin-top: 4px;
    background: #5a5a5a;
}
