html{
	overflow-x: hidden;
}

.bg{
	background: url('../imagem/fundoLogin.jpg') no-repeat;
	width: 100%;
	height: 100vh;
}

.fundo-logo{
	width: 100%;
    padding-left: 0;
    padding-right: 0;
    max-width: 100%;
    background: #010c20;
}

.nav-link{
	color: white;
}

.social-buttons{
	text-align: center;
    margin-top: 7%;
    position: relative;
    margin-bottom: 5%;
    display: flex;
    justify-content: center;
}

.hi-icon-wrap{
    width: 145px;
    z-index: 10;
    background: #212529;
}

.hi-icon{
    padding: 2%;
    font-size: 110%;
}

.social-buttons:after {
    content: '';
    position: absolute;
    border-bottom: 1px solid;
    border-color: #ffffff;
    width: 100%;
    left: 0;
    bottom: 11px;
    z-index: 0;
}

.card_texto{
	background: rgba(28, 28, 28, 0.4);
    margin-left: -14px;
    top: 2em;
}

@media (max-width: 768px) 
{
    .card_texto{
        background: rgba(28, 28, 28, 0.4);   
        margin-left: 0px;
        top: 0px;
        max-width: inherit;
    }
}

.endereco-page{
    margin-top:4em;
}

.texto_central{
    margin-top: 2em;
    font-size: 100%;
}

@media (max-width: 1110px) 
{
    .endereco-page{
        margin-top:4em;
    }
}

@media (max-width: 1000px) 
{
    .endereco-page{
        margin-top:2em;
    }
}

@media(max-width: 768px){
    .col-imagem{
        padding: 0px;
    }
    
    .endereco-page{
        margin-top: 0em;
    }
}

.data_evento{
    color: white;
    position: absolute;
    padding: 2% 2% 4% 2%!important;
    background: black;
    left: 10%;
    border-radius: 6%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fa-bars{
	color: white;
}

#menu-item{
	background-color: #57657e45;
}

.imagem-footer{
    max-width: 100%;
    width: 88px;
    height: 70px;
    border-radius: 35%;
    margin-bottom: 1em;
    object-fit: cover;
}

.div-imagens-footer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.newPost{
    color: white;
    font-size: 3em;
    position: absolute;
    left: 1em;
    cursor: pointer;
}

.icon-close{
    background: #141619;
    display: flex;
    justify-content: flex-end;
}

.imagens_upload{
    display: none;
}

.imagem_file{
    background: url("imagem/arte.png");
}

.textArea-modal{
    border: none;
}

.textArea-modal:focus{
    box-shadow: none;
}

.arquivos_evento{
    position: absolute;
    z-index: 1;
    opacity: 0;
    width: 7%;
    padding: 1%;
}

.file_eventos{
    top: 8em;
    position: absolute;
    z-index: 1;
    padding: 2%;
    font-size: 105%;
}

.anexo_modal{
    display: flex;
    justify-content: center;
    padding: 1%;
}
#previewMp4{
    padding: 1%;
    width: 82%;
    height: 12em;
    margin-right: 4em;
}

#previewImg{
    padding: 1%;
    margin-right: 4em;
    width: 80%;
    height: 12em;
}

.select2-container{
    width: 100% !important;
    padding: 0.375rem 0.75rem !important;
    border: 1px solid #ced4da !important;
}

.select2-container--open{
    border: none;
}

.select2-selection{
    border: none;
}

.select2-container--default .select2-selection--single {
    border: none;
}

.select2-container--open{
    border: none !important;
}